

body {
    background-color: rgb(252, 216, 143);
}



#about-me-card {
    background: #212529
}

#card-text {
    background-color: none;
} 
#footer {
    background: #212529;
    color: #212529;
    border-style: solid;
}


h1 {
    font-size: 38px;
    color:#ffff;
    text-align: left;
    text-decoration: underline;
}

h3 {
    color: #ffff;
    font-size: 18px;
    text-align: center;
}

.navbar-brand {
    font-size: 36px;

}

.navbar-expand-lg {
    background: none;
    color: white;
    margin-top: 3px;
}

.nav-item {
    font-size: 28px;
    color: white;

}

p { 
    margin-top: 12px;
    background-color: none;
    color:#ffff;
}

#surf-photo { 
    margin-top: 12px;
    height: 200px;
    width: 200px;
}

